Model Training

1.1 Import Data and Required Packages
Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [12]:
#Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#modeling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
%pip install catboost
from catboost import CatBoostRegressor
%pip install xgboost
from xgboost import XGBRegressor
import warnings

Requirement already satisfied: catboost in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (1.2.8)
Requirement already satisfied: graphviz in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from catboost) (0.21)
Requirement already satisfied: matplotlib in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from catboost) (3.10.3)
Requirement already satisfied: numpy<3.0,>=1.16.0 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from catboost) (2.2.6)
Requirement already satisfied: pandas>=0.24 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from catboost) (2.3.0)
Requirement already satisfied: scipy in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from catboost) (1.15.3)
Requirement already satisfied: plotly in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from catboost) (6.2.0)
Requirement already satisfied: six in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib->catboost) (4.58.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib->catboost) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib->catboost) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib->catboost) (3.2.3)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from plotly->catboost) (1.41.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: xgboost in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (3.0.2)
Requirement already satisfied: numpy in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from xgboost) (2.2.6)
Requirement already satisfied: scipy in c:\users\krish\anaconda3\envs\machinelearning\lib\site-packages (from xgboost) (1.15.3)
Note: you may need to restart the kernel to use updated packages.

Import the CSV Data as Pandas DataFrame

In [14]:
df = pd.read_csv("D:/ML PROJECTS/note book/data/StudentsPerformance.csv")

In [15]:
df.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Preparing X and Y variables

In [20]:
X = df.drop(columns=['math score'],axis=1)
X.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 7 columns]

In [22]:
print("Categories in 'gender' variable:     ",end=" " )
print(df['gender'].unique())

print("Categories in 'race/ethnicity' variable:    ",end=" ")
print(df['race/ethnicity'].unique())

print("categories in 'parental level of education' variable:    ",end="  ")
print(df['parental level of education'].unique())

print("categories in 'lunch' variable:    ",end="  ")
print(df['lunch'].unique())

print("categories in 'test preparation course' variable:    ",end="   ")
print(df['test preparation course'].unique())

Categories in 'gender' variable:      ['female' 'male']
Categories in 'race/ethnicity' variable:     ['group B' 'group C' 'group A' 'group D' 'group E']
categories in 'parental level of education' variable:      ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
categories in 'lunch' variable:      ['standard' 'free/reduced']
categories in 'test preparation course' variable:       ['none' 'completed']